{% extends "layout.njk" %}
{% block content %}
<div class=" container deleteForm">
  <form  action="/?_method=DELETE" method="POST">
    <div class="mb-3">
      <label class="form-label">Digite o CPF ou CNPJ do cliente</label>
      <input type="text" class="form-control" name ="id" >
    </div>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </form>
</div>
{% endblock content %}

